div {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	font-family: "Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial;
}

.header {
	min-width: 480px;
	line-height: 142%;
	display: block;
	background-color: #2672EC;
	color: white;
	font-size: 150%;
}

.singleInput, .fileInput {
	width: 320px;
	float: left;
}

.seperator {
	width: 80px;
	float: left;
}

.output {
	float: left;
}

.title {
	font-size: 150%;
}

.subtitle {
	display: block;
	font-size: 100%;
}

input.submit {
	background-color: #2672EC;
	color: #fff;
	height: 2.142em;
	min-width: 6em;
	font-size: 100%;
	padding: 3px 12px 5px;
	border: 0;
}

input.file, input.pwd {
	height: 2.142em;
	font-size: 100%;
	padding: 3px 12px 5px;
}